$main-bg-cylan: #0E8784;
$main-bg-white:#FEFCF7;
$main-bg-grey:#83888F;
$main-bg-pale-orange:#FDD6BA;
$main-bg-dark-grey-blue: #333D4B;
$main-font-size: 16px;
$main-font-family-text: 'Barlow';
$main-font-family-title: 'Fraunces';